spring:
  application:
    name: gestion-inventario-api
  
  datasource:
    url: jdbc:postgresql://localhost:5432/inventario_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  
  sql:
    init:
      mode: always
      data-locations: classpath:data.sql

# Configuración del método de inventario (FIFO o LIFO)
inventario:
  metodo: FIFO # Opciones: FIFO, LIFO

server:
  port: 8080

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html

logging:
  level:
    com.inventario: DEBUG
    org.springframework.web: INFO
    org.hibernate.SQL: DEBUG

